name: Checks

# Triggers the workflow on push or pull request events
on: [push, pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3

  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: --exclude ieee.org --verbose --no-progress './**/*.md' './**/*.html' './**/*.rst'
          fail: true
