name: Checks

# Triggers the workflow on push or pull request events
on: [push, pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/ruff-action@v3

  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.10
          enable-cache: true
      - name: Test Pyright
        run: |
          uvx pyright

  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: --exclude ieee.org --verbose --no-progress './**/*.md' './**/*.html' './**/*.rst'
          fail: true
