name: Test Cassandra

on:
  workflow_run:
    workflows:
      - Test
    types:
      - completed

jobs:
  build:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.10"]
    services:
      cassandra:
        image: cassandra
        ports:
          - 9042:9042
        options: --health-cmd "cqlsh --debug" --health-interval 10s --health-retries 15 --health-start-period 30s
    steps:
      - uses: actions/checkout@v5
      - name: Install uv and setup python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Install dependencies
        run: |
          uv pip install flake8 pytest
      - name: Install package
        run: |
          # Disable Cassandra optional extensions (faster testing).
          export CASS_DRIVER_NO_EXTENSIONS=1
          uv pip install -e ."[test,experimental_aio,bloom]"
          uv pip list
      - name: Test with pytest
        run: |
          export DO_TEST_CASSANDRA=true
          uv run pytest
      - name: Minimize uv cache
        run: uv cache prune --ci
