name: Test Mongo

on:
  workflow_run:
    workflows:
      - Test
    types:
      - completed

jobs:
  build:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Setup MongoDB
        uses: supercharge/mongodb-github-action@1.8.0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest
      - name: Install package
        run: |
          # Disable Cassandra optional extensions (faster testing).
          export CASS_DRIVER_NO_EXTENSIONS=1
          pip install -e .[test,experimental_aio]
      - name: Test with pytest
        run: |
          export DO_TEST_MONGO=true
          pytest
